<h2 data-selenium='threats-forecast-title'>Threats forecast</h2>
<table class='table table-striped'>
    <thead class='thead-dark '>
        <th scope='col'>#</th>
        <th scope='col'>Name</th>
        <th scope='col'>Time of close approach</th>
    </thead>
    <tbody data-selenium='threats-viewer-list'>
        <tr ng-repeat='thr in $ctrl.threats'>
            <th scope='row'>{{$index}}</th>
            <td>{{thr.getName()}}</td>
            <td>{{thr.getDate().local().format('YYYY-MM-DD HH:mm:ss')}} ± {{thr.getDateSigma().locale('en').humanize()}}</td>
        </tr>
    </tbody>

</table>